html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#navbar-container{
    position: absolute;
    top:5px;
    right:1em;
    padding-top:5px ;
}

.navbar-item{
    margin: 10px;
    vertical-align:super;
    padding-top: 5px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color:rgb(78, 81, 85)

}

.navbar-item-1:hover, .navbar-item-2:hover{
    text-decoration: underline;
}

.navbar-item-3{
    padding: 5px;
    border-radius: 50%;
}


.navbar-item-3:hover{
    background-color: #eeecec;
    box-shadow: 0 1px 0 1.5px #eeecec;
}

.navbar-item-4{
    margin: 0;
    padding: 9px 8px ;
    border-radius: 50%;
    background-color: hsl(174, 100%, 27%);
    color: white;
}

.navbar-item-4:hover{
    box-shadow: 0 0 0 2px #eeecec;

}

.center-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16em;
}

#logo-img{
    margin-bottom: 25px;
}


#search-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    border-color: rgb(230, 230, 230);
}


#search-container:hover{
    box-shadow: 0 0 3px 1px #eeecec;
}


.search-bar{
    background-color: white;
    width: 30em;
    height: 0.6em;
    margin: 1em 3em;
    border-style: none;
    font-size: 16px;
}

.search-bar:focus-visible{
    outline: transparent;
}


.search-icon{
    position: absolute;
    transform: scale(0.85);
    color: rgb(165, 165, 165);
    margin-left: 15px;
}

#voice-search{
height: 24px;
position: absolute;
align-self: flex-end;
padding-right: 15px;
}

.buttons-container{
    display: inherit;
    flex-direction: row;
    column-gap: 1em;
    height: 2em;
    padding: 2em 0;
    align-items: center;
}

.search-buttons{
    border-style: none;
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 15px;
    letter-spacing: 0.1px;
    background-color: #F8F9FA;
}

.search-buttons:hover{
    box-shadow: 0 0 3px 1px #dddcdc;
}