html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#navbar-container{
    position: absolute;
    top:15px;
    right:1em;
    padding-top:5px ;
}

.navbar-item{
    margin: 13px;
    vertical-align:super;
    padding-top: 5px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color:rgb(78, 81, 85)

}

.navbar-icon{
    padding: 5px;
    border-radius: 50%;
}


.navbar-icon:hover{
    background-color: #dfdfdf;
}


.center-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16em;
}


.search-bar-outline{
    position: absolute;
    width: 550px;
    padding: 22px;
    border-radius: 45px;
    border-style: solid;
    border-color:rgb(204, 204, 204);
    border-width:1px;
    z-index: 0;
}

.search-bar-outline:hover{
    box-shadow: 0 0 5px rgb(160, 158, 158);
}


.search-bar{
    background-color: transparent;
    width: 530px;
    border-style:none;
    z-index: 2;
    margin: 13px 40px 13px 40px;
    padding-right: 1px;
    width: 515px;
    height: 18px;
    padding-left: 1px;
}

#search-container{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.search-bar:focus-visible{
    outline: transparent;
}


.search-icon{
    position: absolute;
    padding-left: 12px;
    padding-top: 13px;
    transform: scale(0.85);
    color: rgb(165, 165, 165);
}

#voice-search{
height: 24px;
position: absolute;
padding: 10px 12px 10px 560px;
z-index:1;
}